main {
  width: 1000px;
  height: 900px;
}

h1 {
  color:blue;
}

div.news div.pictures{
  display: flex;
  justify-content: space-between;
}


div.news div.pictures picture {
  display: flex;
  margin-bottom: 20px;
}

div.news div.pictures picture img {
  width: 190px;
  height: 190px;
}

div.news div.pictures picture figcaption {
  margin-left: 5px;
}