html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: 
    "hd hd main main main main main sd sd"
    "hd hd main main main main main sd sd"
    "hd hd main main main main main sd sd";
}

header {
  background-color: #B3AE8D;

  grid-area: hd;
  
  position: fixed;
  
  width: 22.2%;
  height: 100vh;
}

aside {
  background:#C9F9FF;

  grid-area: sd;

  position: fixed;
  right: 0;

  width: 22.1%;
  height: 100vh;
}

main {
  background: #FFFCE3;
  grid-area: main;

}